h2 {
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 3%; 
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: white;
}

.author {
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 0.8%;
    right: 1.6%;
}