.page-wrapper {
    margin: 0 2% 0 2%;
    width: 96%;
    height: 20%;
}

.page {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

.intro {
    margin: 7% 2% 0 2%;
    width: 96%;
    text-align: center;
    font-size: 14px;
    /* background-color: blue;  */
}

.page p {
    font-size: 12px;
}

.content-name {
    position: absolute;
    left: 12%;
    /* background-color : gray; */
}

#caption {
    height: 54px;
    padding: 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.original {
    text-align: center;
    width: 24%;
}

.representation {
    text-align: center;
    width: 24%;
}

.interpolation {
    text-align: center;
    width: 24%;
}

audio {
    padding: 8px;
}

a, a:link, a:visited, i {
    color : gray;
    text-decoration: none;
}